{% extends "base.html" %}
{% block content %}
<div class="container" style="width:300px;">
	<div class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown trigger</a>
                    <li class="dropdown">
                      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li><a>The Office</a></li>
                        <li><a tabindex="-1" href="#anotherAction">How I Met Your Mother</a></li>
                        <li><a tabindex="-1" href="#">Parks and Recreation</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#">Separated link</a></li>
                      </ul>
                    </li>
  </ul>
</div>

    </div>


{% endblock %}