<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Next Ep</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="../static/bootstrap/css/m-styles.min.css" rel="stylesheet"> 
    <link href="../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../static/profile_style.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ url_for('index') }}">NextEp</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="{{ url_for('profile') }}">TV Schedule</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <form class="navbar-form pull-right">
			{% if g.user.is_authenticated() %}
			<h4>Welcome Back, {{g.user.nickname}}!</h4>
			{% else %}
              <a href="{{ url_for('login') }}" class="btn">Sign in</a>
            {% endif %}
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    {% block content %} {% endblock %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script src="../static/bootstrap/js/jquery-1.8.0.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/m-radio.min.js"></script>

  </body>
</html>
