{% extends "base.html" %}
{% block content %} 
	<div class="container" style="height:100px"></div>
    <div class="container" style="width:300px; text-align:center">

      <form class="form-signup" method="post" name=signup>
        <h2 class="form-signin-heading">Log in!</h2>
		<br>
		<p>Unfortunately, this is a project in beta, so the only login support currently is for GMail. Expect
		support for other platforms, including Facebook Connect, in the future!</p>
		<br>
        <button class="btn btn-large btn-primary" type="submit" style="width:200px">Sign in</button>
      </form>

    </div> <!-- /container -->

{% endblock %}