{% extends "base.html" %}
{% block content %}
<div id="divide">
</div>
<div id="profile_body">
	<div id="date_box">
		<li class="m-btn white big"><h8>Monday</h8> <i class="m-icon-big-swapright m-icon-white"></i></li>
		<br>
		<li class="m-btn white big"><h8>Tuesday</h8> <i class="m-icon-big-swapright m-icon-white"></i></li>
		<br>
		<li class="m-btn white big"><h8>Wednesday</h8> <i class="m-icon-big-swapright m-icon-white"></i></li>
		<br>
		<li class="m-btn white big"><h8>Thursday</h8> <i class="m-icon-big-swapright m-icon-white"></i></li>
		<br>
		<li class="m-btn white big"><h8>Friday</h8> <i class="m-icon-big-swapright m-icon-white"></i></li>
		<br>
		<li class="m-btn white big"><h8>Saturday</h8> <i class="m-icon-big-swapright m-icon-white"></i></li>
		<br>
		<li class="m-btn white big"><h8>Sunday</h8> <i class="m-icon-big-swapright m-icon-white"></i></li>
	</div>
	<div id="episode_box">
		<li class="m-btn white big"><h9>The Office</h9> <i class="m-icon-big-swapright m-icon-white"></i></li>
		<br>
		<li class="m-btn white big"><h9>How I Met Your Mother </h9> <i class="m-icon-big-swapright m-icon-white"></i></li>
		<br>
		<li class="m-btn white big"><h9>Parks and Recreation</h9> <i class="m-icon-big-swapright m-icon-white"></i></li>

	</div>
	<div id="episode_info">
		<img src="{{ picture }}" style="width:465px">
		<br>
		<h8><b> {{ episodes[0] }}</b></h8>
		<br>
		<h8><b> {{ episodes[1] }}</b></h8>
			
		{% for item in synopsis %}
			<h8>{{ item }}</h8>
		{% endfor %}
	</div>
</div>
	

<br><br>


{% endblock %}